input(
    type="file"
    style="opacity: 0; height: 0; width: 0; display: inline"
)

md-button(ng-click="chooseFile()")
    md-icon attach_file
md-button(ng-click="clear()" ng-show="valueSet")
    md-icon clear
span {{comment}}
