div(ng-messages="form[field.property].$error" ng-show="form[field.property].$dirty")
    div(ng-message="{{requiredMarker}}") {{ configuration.requiredErrorMessage | translate }}
    div(ng-message="{{maxLengthMarker}}") {{ maxLengthMessage }}
    div(ng-message="{{minLengthMarker}}") {{ minLengthMessage }}
    div(ng-message="{{emailMarker}}") {{ configuration.emailErrorMessage | translate }}
    div(ng-message="{{urlMarker}}") {{ configuration.urlErrorMessage | translate }}
    div(ng-message="{{patternMarker}}") {{ configuration.patternErrorMessage | translate }}
    div(ng-message="{{dateMarker}}") {{ configuration.dateErrorMessage | translate }}
    div(ng-message="{{timeMarker}}") {{ configuration.timeErrorMessage | translate }}
    div(ng-message="{{numberMarker}}") {{ configuration.numberErrorMessage | translate }}
    div(ng-message="{{equalsMarker}}") {{ configuration.notEqualErrorMessage | translate }}
