style.
    .file-choose-list, .file-choose-list li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .file-choose-list li {
        display: inline-block;
    }

    .file-choose-list li:not(:first-child) {
        margin-left: 0.5em;
    }

    .file-choose-list li:first-child {
        margin-top: 0.5em;
    }

    .file-choose-list li:last-child {
        margin-bottom: 1em;
    }

    .file-choose-list li md-icon {
        margin-left: 5px;
        cursor: pointer;
    }


ul.file-choose-list
    li(ng-repeat="file in files")
        md-icon attach_file
        span {{file.name}}
        md-icon.file-remove(ng-click="removeFile(file)") clear
    li
        md-button(ng-click="chooseFile()")
            md-icon(ng-if="files.length > 0") add_circle
            md-icon(ng-if="files.length === 0") attach_file


input(type="file" style="display: none" multiple)

