label {{field.title | translate}}

style.
    md-input-container file-read.md-input {
        border-width: 1px !important;
    }
    md-input-container file-read.md-input.ng-invalid.ng-dirty {
        border-width: 1px;
        border-style: solid;
    }
    md-input-container.md-input-focused file-read.md-input {
        border-width: 1px;
        border-style: solid;
    }

file-read.md-input(
    ng-model="object[field.property]"
    style="height: auto"
    ng-required="field.required"
    name="{{field.property}}"
)
