doctype html
html(lang='en')
    head
        title Test Page
    body(ng-controller="test")
        #returned-object(ng-bind="returnedObject")
        input#button(type="button", ng-click="onShowDialog()" value="Show Dialog")
        script(type="text/javascript", src="/build/test/app/paths.js")
        script(type="text/javascript", src="/bower_components/requirejs/require.js")
        script(type="text/javascript").
            require(['build/test/app/TestApp', 'angular', 'angular.material', 'build/lm-webforms'], function(initializeApp) {
                initializeApp();
            });
