doctype html
html(lang='en')
    head
        title Test Page
        link(href="/bower_components/angular-material/angular-material.css", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body(ng-controller="test")
        md-content
            #returned-object(ng-bind="returnedObject")
            md-button.md-raised.md-primary(ng-click="onShowDialog()" id="button_main") Show Dialog

            div(ng-repeat="type in testedTypes")
                md-button.md-raised.md-primary(ng-click="testType(type)" ng-attr-id="{{ 'button_' + type }}") Test {{type}}

            md-button.md-raised.md-primary(ng-click="testRecaptcha()") Test Recaptcha

            script(type="text/javascript", src="/build/test/app/paths.js")
            script(type="text/javascript", src="/bower_components/requirejs/require.js")

            script(type="text/javascript").
                require(['build/test/app/TestApp', 'angular', 'angular.material', 'release/lm-webforms'], function(initializeApp) {
                    initializeApp();
                });
